.idea
node_modules/
web/dist/
*-bundle.js
*-bundle.js.map
dist/
bower_components/
# Ignore non-tracked .js files and .map files
*.js
*.map
!pdfviewer/build/pdf.js
!pdfviewer/build/pdf.worker.js
!pdfviewer/web/pdf.viewer.js
!web/js/MainTest.js
!web/js/Optional.js
!web/js/PageRedrawHandler.js
!web/js/annotations/ipc/AnnotationCreationListener.js
!web/js/annotations/ipc/AnnotationProducer.js
!web/js/annotations/ipc/CreatedAnnotation.js
!web/js/apps/chrome.js
!web/js/apps/injector.js
!web/js/boxes/controller/BoxController.js
!web/js/boxes/controller/BoxMoveEvent.js
!web/js/boxes/controller/BoxOptions.js
!web/js/capture/renderer/TimeoutManager.js
!web/js/docformat/HTMLFormatTest.js
!web/js/editor/Editor.js
!web/js/electron/capture/ArgsTest.js
!web/js/electron/capture/pagination/BasicBox.js
!web/js/electron/capture/pagination/DefaultPagingBrowser.js
!web/js/electron/capture/pagination/MockPagingBrowser.js
!web/js/electron/capture/pagination/PagingBrowser.js
!web/js/electron/capture/pagination/PagingBrowserTest.js
!web/js/electron/capture/pagination/PagingCursor.js
!web/js/electron/capture/pagination/PagingLoader.js
!web/js/electron/capture/pagination/PagingLoaderTest.js
!web/js/electron/capture/pagination/PagingState.js
!web/js/highlights/TextExtractor.js
!web/js/highlights/area/view/AreaHighlightView.js
!web/js/highlights/area/view/components/AreaHighlightComponent.js
!web/js/highlights/text/controller/IntermediateRow.js
!web/js/highlights/text/controller/ReadableText.js
!web/js/highlights/text/controller/ReadableTextTest.js
!web/js/highlights/text/controller/TextHighlightRows.js
!web/js/highlights/text/controller/TextSelections.js
!web/js/highlights/text/selection/SelectionsTest.js
!web/js/highlights/text/selection/TextNodeRows.js
!web/js/ipc/Receiver.js
!web/js/metadata/AreaHighlightRects.js
!web/js/metadata/FlashcardArchetype.js
!web/js/metadata/FlashcardField.js
!web/js/metadata/FlashcardFieldType.js
!web/js/metadata/FlashcardRegistry.js
!web/js/metadata/FlashcardRegistryTest.js
!web/js/metadata/PagemarkRectTest.js
!web/js/metadata/PagemarkRectsTest.js
!web/js/metadata/TextRectTest.js
!web/js/metadata/metadata.js
!web/js/modal/Modal.js
!web/js/pagemarks/controller/interact/drag/Adjacency.js
!web/js/pagemarks/controller/interact/drag/DragRectAdjacencyCalculator.js
!web/js/pagemarks/controller/interact/drag/DragRectAdjacencyCalculatorTest.js
!web/js/pagemarks/controller/interact/drag/LineAdjustment.js
!web/js/pagemarks/controller/interact/edges/LineEdges.js
!web/js/pagemarks/controller/interact/edges/RectEdges.js
!web/js/pagemarks/controller/interact/resize/ResizeRectAdjacencyCalculator.js
!web/js/pagemarks/controller/interact/resize/ResizeRectAdjacencyCalculatorTest.js
!web/js/pagemarks/view/redrawer/CompositePagemarkRedrawer.js
!web/js/pagemarks/view/redrawer/MainPagemarkRedrawer.js
!web/js/pagemarks/view/redrawer/PagemarkRedrawer.js
!web/js/pagemarks/view/redrawer/ThumbnailPagemarkRedrawer.js
!web/js/paste/ImagePasteHandler.js
!web/js/proxies/Proxies.js
!web/js/proxies/ProxiesTest.js
!web/js/proxies/ProxyHandler.js
!web/js/proxies/TraceHandler.js
!web/js/repository/DocMetaSyncListener.js
!web/js/scratch/typescript/js_interop/LegacyClass.js
!web/js/scratch/typescript/mocha_test_interop/HelloWorldJSTest.js
!web/js/time/Clock.js
!web/js/time/SyntheticClock.js
!web/js/time/SystemClock.js
!web/js/util/ArgsParserTest.js
!web/js/util/RectArtTest.js
!web/js/util/StringsTest.js
!web/js/util/Text.js
!web/js/util/TextTest.js
!web/js/utils.js
!web/lib/TextHighlighter.js
!web/loader/LoaderTest.js
!web/loader/index.js
!web/spectron/firebase-auth/lib/firebase.js
!web/spectron/firebase-auth/lib/firebaseui.js
!web/spectron/open-phz-file-with-arg/spec.js
!web/spectron/require-and-import-over-htttp/regular_html/Foo.js
!web/spectron/require-and-import-over-htttp/regular_html/test.js
!web/spectron/text-node-splitting/index.js
!web/spectron/text-node-splitting/spec.js
!web/test/sandbox/bootstrap/bootstrap.js
!web/test/sandbox/dialog/js/entry.js
!web/test/sandbox/drag-and-resize-pagemark/entry.js
!web/test/sandbox/editormd/editormd.js
!web/test/sandbox/electron-card-creator/index.js
!web/test/sandbox/electron-card-creator/spec.js
!web/test/sandbox/electron-iframe-events/index.js
!web/test/sandbox/electron-iframe-events/spec.js
!web/test/sandbox/electron-protocol/client-request.js
!web/test/sandbox/electron-protocol/index-with-fake-stream-data.js
!web/test/sandbox/electron-protocol/index-with-net-request-and-null.js
!web/test/sandbox/electron-protocol/index-with-net-request.js
!web/test/sandbox/electron-protocol/index-with-node-request.js
!web/test/sandbox/electron-protocol/index.js
!web/test/sandbox/electron-protocol/spec.js
!web/test/sandbox/electron-protocol/test-streams.js
!web/test/sandbox/electron-protocol/using-net-request.js
!web/test/sandbox/iframe-expand-test/function-literal.js
!web/test/sandbox/iframe-fuzzy-text/index.js
!web/test/sandbox/schemaform/schemaform.js
!web/test/sandbox/summernote/js/entry.js
!web/test/sandbox/webcomponents/js/entry.js
!web/test/spectron/messenger/index.js
!web/test/spectron/messenger/spec.js
!web/test/spectron/test-results-test/index.js
!web/test/spectron/test-results-test/spec.js
